@model Project1.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A_FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A_FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A_LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A_LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A_EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A_EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.A_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.A_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirm_A_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirm_A_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.A_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
