@model IEnumerable<Project1.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.A_FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.A_Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirm_A_Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.A_FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.A_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirm_A_Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.A_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.A_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.A_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
