@model Project1.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.U_FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.U_FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.U_LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.U_LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.U_ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.U_ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.U_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.U_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.U_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.U_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirm_U_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirm_U_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.U_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
