@model Project1.Models.Appoinment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appoinment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialist)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
