@model Project1.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_EMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Qualiifcation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Qualiifcation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.D_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.D_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirm_D_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirm_D_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.D_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
